@use "ds-system/ds.scss";

body {
  display: flex;
  flex-direction: column;

  max-width: 420px;
  margin: 0 auto;

  min-height: 100vh;

  color: ds.$white;
  background: ds.$dark-purple-gradient;

  font-family: "Poppins", Arial, sans-serif;
  @include ds.r-s14-h16;

  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  height: 100%;
}
