@import "ds-system/ds.scss";
@import "mixins/mixins.scss";

.title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;

  &--xl {
    @include sb-s18-h18;
  }

  &--lg {
    @include r-s16-h24;
  }

  &--md {
    @include r-s14-h16;
  }

  &--sm {
    @include sb-s12-h18;
  }
}
