$purple-gradient: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
$dark-purple-gradient: linear-gradient(180deg, #352163 0%, #331972 57.81%, #33143C 100%);
$dark-purple-gradient-no-rotate: linear-gradient(0deg, #352163 0%, #331972 110.81%, #33143C 100%);
