@mixin typography_template($font-size, $line-height, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: $line-height;
}

@mixin r-s10-h12 {
  @include typography_template(12px, 14px);
}

@mixin r-s14-h16 {
  @include typography_template(14px, 16px);
}

@mixin r-s15-h15 {
  @include typography_template(15px, 15px);
}

@mixin r-s16-h24 {
  @include typography_template(16px, 24px);
}

@mixin m-s12-h18 {
  @include typography_template(12px, 18px, 500);
}

@mixin m-s14-h14 {
  @include typography_template(14px, 14px, 500);
}

@mixin m-s14-h21 {
  @include typography_template(14px, 21px, 500);
}

@mixin m-s16-h16 {
  @include typography_template(16px, 16px, 500);
}

@mixin m-s16-h24 {
  @include typography_template(16px, 24px, 500);
}

@mixin sb-s10-h14 {
  @include typography_template(10px, 14px, 600);
}

@mixin sb-s12-h18 {
  @include typography_template(12px, 18px, 600);
}

@mixin sb-s12-h14 {
  @include typography_template(12px, 18px, 600);
}

@mixin sb-s14-h14 {
  @include typography_template(14px, 14px, 600);
}

@mixin sb-s14-h21 {
  @include typography_template(14px, 21px, 600);
}

@mixin sb-s16-h16 {
  @include typography_template(16px, 16px, 600);
}

@mixin sb-s18-h18 {
  @include typography_template(18px, 18px, 600);
}

@mixin sb-s20-h20 {
  @include typography_template(20px, 20px, 600);
}

@mixin sb-s25-h25 {
  @include typography_template(25px, 25px, 600);
}

@mixin sb-s55-h55 {
  @include typography_template(55px, 55px, 600);
}

@mixin sb-s80-h80 {
  @include typography_template(80px, 80px, 600);
}
